<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ff.dionysus.core.auth.mapper.SysMenuMapper">










	<select id="getOneUserMenuList" resultType="cn.ff.dionysus.common.basal.entity.SysMenu">
		select m.* from
			sys_user_role_rel ur
			LEFT JOIN sys_role_menu_rel rm on ur.role_id = rm.role_id and rm.type = '1'
			LEFT JOIN sys_menu m on rm.menu_id = m.id
		where ur.user_id = #{userId}
	</select>
</mapper>
